<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANARTECH Rolo V1.0-2025</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>🚀 ANARTECH Rolo V1.0 🚀</h1>
        <img src="C:\Users\Andres B\Desktop\GIT\ANARTECH_ROLO_V1.0\res\balta.jpg" alt="Rolo the black pug" class="rolo-image">
        <p id="status">Rolo te mira con emoción, ¿qué quieres hacer?</p>
        <div class="buttons">
            <button onclick="petRolo()">🐾 Acariciar</button>
            <button onclick="feedRolo()">🍖 Dar comida</button>
            <button onclick="playWithRolo()">🎾 Jugar</button>
            <button onclick="giveWater()">💦 Dar agua</button>
            <button onclick="putToSleep()">😴 Dormir</button>
            <button onclick="activateVRMode()">🕶️ Activar Modo VR</button> <!-- Nuevo botón -->
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
